<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalGenre">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let genre of  genres | genre:filterName">
              <td>{{genre.idGenre}}</td>
              <td>{{genre.nameGenre}}</td>
              <td>{{genre.statusGenre}}</td>
              <td>
                <a class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#modalGenre" (click)="getDataGenres(genre.idGenre)"><i-bs name="pen-fill"  width="15px"  height="15px"></i-bs></a>
                <a class="btn btn-warning"  (click)="inactivateGenre(genre.idGenre)" *ngIf="genre.statusGenre == true"><i-bs name="eye-slash-fill"  width="15px"  height="15px"></i-bs></a>
                <a class="btn btn-warning" (click)="activateGenre(genre.idGenre)" *ngIf="genre.statusGenre == false"><i-bs name="eye-fill"  width="15px"  height="15px"></i-bs></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal fade genre -->
<div
  class="modal fade"
  id="modalGenre"
  tabindex="-1"
  aria-labelledby="modalGenre"
  aria-hidden="true"
>
  <div class="modal-dialog"
    id="modalGenre"
    tabindex="-1"
    aria-labelledby="modalGenre"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-22 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">Genre data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formGenre" (ngSubmit)="sendForm(formGenre.value)">
        <div class="modal-body">
          <input type="hidden" formControlName="idGenre">
          <div class="row">
            <div class="col">
              <label for="Genre" class="form-label">Genre:</label>
              <input type="Text" class="form-control" id="Genre" formControlName="nameGenre">
            </div>
            <div class="col">
              <label for="statusAuthor" class="form-label"
                  >Status:</label
                >
              <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="statusGenre"
                >
                  <option value="0" >Inactive</option>
                  <option value="1" >Active</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
