<app-header></app-header>

<!-- <div class="row"> -->
  <div class="container">
    <div class="row" style="padding-bottom: 5px;">
      <div class="card">
        <div class="row">
          <div class="col-4">Title:</div>
          <div class="col-4">Genre:</div>
        </div>
        <div class="row">
          <div class="col-4">Author:</div>
          <div class="col-4">Editorial:</div>
        </div>
        <div class="row">
          <div class="col-8">Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Molestiae magni
            accusantium consequuntur optio dolore reprehenderit
            quis iure a excepturi magnam perferendis mollitia facilis,
            possimus autem voluptatum vero error! Eos, repudiandae?
          </div>
          <div class="col-2"><img src="assets/img/descarga.png" alt="" class="img-thumbnail"></div>
          <div class="col-2">
            <button class="btn btn-outline-success">Edit</button>
            <button class="btn btn-outline-success">Reserve</button>
          </div>
        </div>
      </div>
    </div>
    <!-- División -->
  <div class="row" style="padding-bottom: 5px;">
    <div class="card">
      <div class="row">
        <div class="col-4">Title:</div>
        <div class="col-4">Genre:</div>
      </div>
      <div class="row">
        <div class="col-4">Author:</div>
        <div class="col-4">Editorial:</div>
      </div>
      <div class="row">
        <div class="col-8">Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Molestiae magni
          accusantium consequuntur optio dolore reprehenderit
          quis iure a excepturi magnam perferendis mollitia facilis,
          possimus autem voluptatum vero error! Eos, repudiandae?
        </div>
        <div class="col-2"><img src="assets/img/descarga.png" alt="" class="img-thumbnail"></div>
        <div class="col-2">
          <button class="btn btn-outline-success">Edit</button>
          <button class="btn btn-outline-success">Reserve</button>
        </div>
      </div>
    </div>
  </div>
  <!-- División -->
  <div class="row" style="padding-bottom: 5px;">
    <div class="card">
      <div class="row">
        <div class="col-4">Title:</div>
        <div class="col-4">Genre:</div>
      </div>
      <div class="row">
        <div class="col-4">Author:</div>
        <div class="col-4">Editorial:</div>
      </div>
      <div class="row">
        <div class="col-8">Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Molestiae magni
          accusantium consequuntur optio dolore reprehenderit
          quis iure a excepturi magnam perferendis mollitia facilis,
          possimus autem voluptatum vero error! Eos, repudiandae?
        </div>
        <div class="col-2"><img src="assets/img/descarga.png" alt="" class="img-thumbnail"></div>
        <div class="col-2">
          <button class="btn btn-outline-success">Edit</button>
          <button class="btn btn-outline-success">Reserve</button>
        </div>
      </div>
    </div>
  </div>
  </div>


<!-- </div> -->

<!-- <div class="row">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div> -->

<app-footer></app-footer>
