<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalBook" (click)="getCombox()">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>


<!-- <div class="row"> -->
  <div class="container">
    <div class="row" *ngFor="let book of (books|book:filterName) | paginate : { itemsPerPage: 7, currentPage: p };">
      <div class="card description" >
        <div class="row">
          <div class="col-4">Title:{{book.bookName}}</div>
          <div class="col-4">Genre:{{book.Genre.nameGenre}}</div>
        </div>
        <div class="row">
          <div class="col-4">Author:{{book.Author.nameAuthor}}</div>
          <div class="col-4">Editorial:{{book.Editorial.nameEditorial}}</div>
          <div class="col-4">
            <div class="row">
              <div class="col">
                <a class="btn btn-warning"  (click)="inactivateAuthor(book.idBook)" *ngIf="book.statusBook == true"><i-bs name="eye-slash-fill"  width="15px"  height="15px"></i-bs></a>
                <a class="btn btn-warning" (click)="activateAuthor(book.idBook)" *ngIf="book.statusBook == false"><i-bs name="eye-fill"  width="15px"  height="15px"></i-bs></a>
                &nbsp;
              </div>
              <div class="col">
                <button class="btn btn-outline-success"  data-bs-toggle="modal"
                data-bs-target="#modalBook" (click)="getDataBook(book.idBook)">Edit</button>
                &nbsp;
              </div>
              <div class="col">
                <button class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalReserve" (click)="getDataBookReservate(book.idBook)">Reserve</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Before"
      nextLabel="After"
    ></pagination-controls>
  </div>

<!-- Modal Book -->

  <div
  class="modal fade"
  id="modalBook"
  tabindex="-1"
  aria-labelledby="modalBook"
  aria-hidden="true"
  >
    <div class="modal-dialog modal-lg"
      id="modalBook"
      tabindex="-1"
      aria-labelledby="modalBook"
      aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <div><i class="bx bxs-user me-1 font-2  2 text-info"></i>
          </div>
          <h5 class="mb-0 text-info">Books data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formBook" (ngSubmit)="sendForm(formBook.value)">
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <label for="bookName" class="form-label">Title:</label>
                <input type="Text" class="form-control" id="bookName" formControlName="bookName">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="idAuthor" class="form-label">Author:</label>
                <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="idAuthor"
                  >
                    <option value="{{author.idAuthor}}" *ngFor="let author of authors">{{author.nameAuthor}}</option>
                  </select>
              </div>
              <div class="col">
                <label for="idGenre" class="form-label">Genre:</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="idGenre"
                  >
                    <option value="{{genre.idGenre}}" *ngFor="let genre of genres">{{genre.nameGenre}}</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="idEditorial" class="form-label">Editorial:</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="idEditorial"
                >
                  <option value="{{editorial.idEditorial}}" *ngFor="let editorial of editorials">{{editorial.nameEditorial}}</option>
                </select>
              </div>
              <div class="col">
                <label for="idRack" class="form-label">Rack:</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="idRack"
                >
                  <option value="{{rack.idRack}}" *ngFor="let rack of racks">{{rack.nameRack}} - Count level: {{rack.levels}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="quantityStock" class="form-label">Quantity:</label>
                <input type="text" class="form-control" name="quantityStock" id="quantityStock" formControlName="quantityStock">
              </div>
              <div class="col">
                <label for="publicationDate" class="form-label">Publication date:</label>
                <input type="date" class="form-control" name="publicationDate" id="publicationDate" formControlName="publicationDate">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- Modal reserve -->
  <div
class="modal fade"
id="modalReserve"
tabindex="-1"
aria-labelledby="modalReserve"
aria-hidden="true"
>
  <div class="modal-dialog modal-lg"
    id="modalReserve"
    tabindex="-1"
    aria-labelledby="modalReserve"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-2  2 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">Reserve Books</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 15px;">
          <div class="card" *ngFor="let book of dataBookReserve">
            <div class="row mb-3">
              <div class="col-6">Title:{{book.bookName}}</div>
              <div class="col-6">Genre:{{book.Genre.nameGenre}}</div>
            </div>
            <div class="row">
              <div class="col-6">Author:{{book.Author.nameAuthor}}</div>
              <div class="col-6">Editorial:{{book.Editorial.nameEditorial}}</div>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 15px;">
          <div class="card">
            <div class="row" style="padding-bottom: 15px;">
              <div class="col-4">
                <label for="Carnet" class="form-label">Carnet:</label>
                <input type="Text" class="form-control" id="Carnet" (keyup.enter)="searchUser()" [(ngModel)]="carnet">
              </div>
            </div>
           <div *ngFor="let user of userData">
              <div class="row" style="padding-bottom: 15px;">
                <div class="col-4"><b>Name user: </b>{{user.nameUser}}</div>
                <div class="col-5"><b>Email: </b>{{user.emailUser}}</div>
                <div class="col-3"><b>Phone: </b>{{user.phoneUser}}</div>
                <div class="col-4">
                  <label for="idEmployee" class="form-label"><b>Employee</b></label>
                  <select name="idEmployee" id="idEmployee" class="form-control" [(ngModel)]="cbEmployees">
                    <option value="{{employee.idEmployee}}" *ngFor="let employee of employees">{{employee.nameEmployee}}</option>
                  </select>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendReserve(cbEmployees,idBook,carnet)" >Save reserve</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
