<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalUser">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Carnet</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of user | user:filterName">
              <td>{{user.idUser}}</td>
              <td>{{user.nameUser}}</td>
              <td>{{user.carnetUser}}</td>
              <td>{{user.emailUser}}</td>
              <td>{{user.phoneUser}}</td>
              <td>{{viewStatus(user.statusUser)}}</td>
              <td>
                <a class="btn btn-warning" (click)="getUsersById(user.idUser)" data-bs-toggle="modal" data-bs-target="#modalUser"><i-bs name="pen-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- start Delete -->
                <a class="btn btn-warning"  (click)="inactivateUser(user.idUser)" *ngIf="user.statusUser == true"><i-bs name="eye-slash-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- end Delete -->
                <a class="btn btn-warning" (click)="activateUser(user.idUser)" *ngIf="user.statusUser == false"><i-bs name="eye-fill"  width="15px"  height="15px"></i-bs></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal fade user -->
<div
  class="modal fade"
  id="modalUser"
  tabindex="-1"
  aria-labelledby="modalUser"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg"
    id="modalUser"
    tabindex="-1"
    aria-labelledby="modalUser"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-22 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">User data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formUser" (ngSubmit)="sendForm(formUser.value)">
        <div class="modal-body">
          <input type="hidden" formControlName="idUser">
          <div class="row">
            <div class="col">
              <label for="nameUser" class="form-label">Name:</label>
              <input type="Text" class="form-control" id="nameUser" formControlName="nameUser">
            </div>
            <div class="col">
              <label for="carnetUser" class="form-label">Carnet:</label>
              <input type="Text" class="form-control" id="carnetUser" formControlName="carnetUser">
            </div>
            <div class="col">
              <label for="emailUser" class="form-label">Email:</label>
              <input type="Text" class="form-control" id="emailUser" formControlName="emailUser">
            </div>
            <div class="col">
              <label for="phoneUser" class="form-label">Phone:</label>
              <input type="Text" class="form-control" id="phoneUser" formControlName="phoneUser">
            </div>
            <div class="col">
                  <label for="statusUser" class="form-label"
                  >Status:
                  </label
                >
              <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="statusUser"
                >
                  <option value="0" >Inactive</option>
                  <option value="1" >Active</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
