<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for user name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name user</th>
              <th scope="col">Reservation date</th>
              <th scope="col">Book</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserve of reserves | reserve:filterName">
              <td>{{reserve.idReserve}}</td>
              <td>{{reserve.User.nameUser}}</td>
              <td>{{reserve.dateReservation | date:'dd-MM-yyyy'}}</td>
              <td>{{reserve.Book.bookName}}</td>
              <td>{{reserve.statusReserve}}</td>
              <td><a class="btn btn-warning"><i-bs name="pen-fill"  width="15px"  height="15px"></i-bs></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
