<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Reservation date</th>
              <th scope="col">Book</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
