<app-header></app-header>

<!-- Body author -->
<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalAuthor">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Country</th>
              <th scope="col">Date Born</th>
              <th scope="col">Status</th>
              <th scope="col" class="align-items-center" >Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of (authors | author:filterName) | paginate : { itemsPerPage: 10, currentPage: p };">
              <td>{{author.idAuthor}}</td>
              <td>{{author.nameAuthor}}</td>
              <td>{{author.countryBirth}}</td>
              <td>{{author.dateBorn | date:'dd-MM-yyyy'}}</td>
              <td>{{viewStatus(author.statusAuthor)}}</td>
              <td>
                <a class="btn btn-warning" (click)="geAuthorById(author.idAuthor)" data-bs-toggle="modal" data-bs-target="#modalAuthor"><i-bs name="pen-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- start Delete -->
                <a class="btn btn-warning"  (click)="inactivateAuthor(author.idAuthor)" *ngIf="author.statusAuthor == true"><i-bs name="eye-slash-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- end Delete -->
                <a class="btn btn-warning" (click)="activateAuthor(author.idAuthor)" *ngIf="author.statusAuthor == false"><i-bs name="eye-fill"  width="15px"  height="15px"></i-bs></a>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
        (pageChange)="p = $event"
        previousLabel="Before"
        nextLabel="After"
      ></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- Modal fade author -->
<div
  class="modal fade"
  id="modalAuthor"
  tabindex="-1"
  aria-labelledby="modalAuthor"
  aria-hidden="true"
>
  <div class="modal-dialog"
    id="modalAuthor"
    tabindex="-1"
    aria-labelledby="modalAuthor"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-22 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">Author data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formAuthor" (ngSubmit)="sendForm(formAuthor.value)">
      <div class="modal-body">
        <input type="hidden" formControlName="idAuthor">
          <div class="row">
            <div class="col">
              <label for="nameAuthor" class="form-label">Name:</label>
              <input type="Text" class="form-control" id="nameAuthor" formControlName="nameAuthor">
            </div>
            <div class="col">
              <label for="dateAuthor" class="form-label">Date born:</label>
              <input type="date" class="form-control" id="dateAuthor" formControlName="dateBorn">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="coutry" class="form-label">Country:</label>
              <input type="Text" class="form-control" id="coutry" formControlName="countryBirth">
            </div>
            <div class="col">
              <label for="statusAuthor" class="form-label"
                  >Status:</label
                >
              <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="statusAuthor"
                >
                  <option value="0" >Inactive</option>
                  <option value="1" >Active</option>
                </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
