<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalEditorial">Agregar</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Country</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
              <td>hola</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal fade editorial -->
<div
  class="modal fade"
  id="modalEditorial"
  tabindex="-1"
  aria-labelledby="modalEditorial"
  aria-hidden="true"
>
  <div class="modal-dialog"
    id="modalEditorial"
    tabindex="-1"
    aria-labelledby="modalEditorial"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-22 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">Editorial data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label for="nameAuthor" class="form-label">Name:</label>
            <input type="Text" class="form-control" id="nameAuthor">
          </div>
          <div class="col">
            <label for="dateAuthor" class="form-label">Date born:</label>
            <input type="date" class="form-control" id="dateAuthor">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="nameAuthor" class="form-label">Country:</label>
            <input type="Text" class="form-control" id="nameAuthor">
          </div>
          <div class="col">
            <label for="statusAuthor" class="form-label"
                >Status:</label
              >
            <select
                class="form-select"
                aria-label="Default select example"
                formControlName="statusAuthor"
              >
                <option value="0" >Inactive</option>
                <option value="1" >Active</option>
              </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
