<app-header></app-header>

<br>
<div class="container">
  <div class="row" >
    <div class="card radius-10" style="padding: 5px;">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalEditorial">Add</button>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="filterName">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-center">
    <div class="card radius-10">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date added</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let editorial of editorials | editorial:filterName">
              <td>{{editorial.idEditorial}}</td>
              <td>{{editorial.nameEditorial}}</td>
              <td>{{editorial.dateAdd | date:'dd-MM-yyyy'}}</td>
              <td>{{viewStatus(editorial.statusEditorial)}}</td>
              <td>
                <a class="btn btn-warning" (click)="getEditorialById(editorial.idEditorial)" data-bs-toggle="modal" data-bs-target="#modalEditorial"><i-bs name="pen-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- start Delete -->
                <a class="btn btn-warning"  (click)="inactivateEditorial(editorial.idEditorial)" *ngIf="editorial.statusEditorial == true"><i-bs name="eye-slash-fill"  width="15px"  height="15px"></i-bs></a>
                <!-- end Delete -->
                <a class="btn btn-warning" (click)="activateEditorial(editorial.idEditorial)" *ngIf="editorial.statusEditorial == false"><i-bs name="eye-fill"  width="15px"  height="15px"></i-bs></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal fade editorial -->
<div
  class="modal fade"
  id="modalEditorial"
  tabindex="-1"
  aria-labelledby="modalEditorial"
  aria-hidden="true"
>
  <div class="modal-dialog"
    id="modalEditorial"
    tabindex="-1"
    aria-labelledby="modalEditorial"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <div><i class="bx bxs-user me-1 font-22 text-info"></i>
        </div>
        <h5 class="mb-0 text-info">Editorial data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formEditorial" (ngSubmit)="sendForm(formEditorial.value)">
        <div class="modal-body">
          <input type="hidden" formControlName="idEditorial">
          <div class="row">
            <div class="col">
              <label for="nameEditorial" class="form-label">Name:</label>
              <input type="Text" class="form-control" id="nameEditorial" formControlName="nameEditorial">
            </div>
            <div class="col">
              <label for="dateAdd " class="form-label">date Add:</label>
              <input type="Text" class="form-control" id="dateAdd" formControlName="dateAdd">
            </div>
            <div class="col">
                  <label for="statusEditorial" class="form-label"
                  >Status:
                  </label
                >
              <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="statusEditorial"
                >
                  <option value="0" >Inactive</option>
                  <option value="1" >Active</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
  </div>
</div>


<app-footer></app-footer>
