
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/img/logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="userName" formControlName="userName">
      <input type="text" id="password" class="fadeIn third"  placeholder="carnet" formControlName="carnet">
      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="isSubmitting">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
       <p>{{ errorMsj }}</p>
    </div>

  </div>
</div>
