<nav class="navbar navbar-expand-lg menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <p class="navbar-brand mb-0">{{idusuario}}</p>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngFor="let menu of menus">
            <button class="btn boton mb-1" (click)="redirect(menu.option)">{{menu.option}}</button>
            &nbsp;
          </li>
        </ul>
        <button class="btn boton mb-1" (click)="logout()"><i-bs name="door-open"  width="15px"  height="15px"></i-bs>Logout</button>
      </div>
  </div>
</nav>
